<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timePickerTest">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>


<!--    If you declare android:required="false" for the feature, then Google -->
<!--    Play allows your app to be installed on devices that don't have the feature.-->






</manifest>
